.DS_Store
node_modules
/dist
./src/back

# local env files
.env.local
.env.*.local
./back
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
